html {
  font-size: 14px;
  background: #282C34 !important;
  color: white !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: #282C34 !important;
  color: white !important;
}

.navbar-custom{
  background: #21252B !important;
  color: white !important;
  border-color: black !important;
}

.uploadContainer {
  height: 250px;
  width: 250px;
  border: 1px #21252B solid;
  border-radius: 5px;
}

.upload{
  width: auto;
  height: 100%;
  border-radius: 5px;
  display: block;
  max-width: 100%;
  object-fit: contain;
  margin: auto;
}

.uploadBox{
  height: 80%;
  width: 80%;
  display: inline-block;
}

.btn:focus{
  box-shadow: none !important;
}

.form-control:focus{
  box-shadow: none !important;
}

.form-select:focus{
  box-shadow: none !important;
}