@model GudSafe.Data.ViewModels.AdminSettingsViewModel

@{
    ViewData["Title"] = "Admin Settings";
}

<div class="container">
    @Html.ValidationSummary()

    <h1 class="display-6 mb-1">Create new user</h1>
    <form id="createNewUser" class="mb-2">
        <div class="input-group">
            @Html.TextBoxFor(m => m.NewUserUsername, new {@class = "form-control", required = "required", type = "text", placeholder = "Username", data_form_type = "other"})
            <button class="btn btn-primary" type="button" onclick="CreateNewUser()">Create User</button>
        </div>
    </form>

    <div class="input-group visually-hidden mb-4" id="generatedPasswordInfo">
        <span class="input-group-text">Generated password</span>
        <input type="text" class="form-control" value="" readonly="readonly"/>
    </div>

    @if (Model.Users != null)
    {
        <h1 class="display-6 mb-1">User management</h1>

        <form id="userManagement" class="mb-2">
            @Html.LabelFor(m => m.SelectedUser, "Select user to edit", new {@class = "form-label"})
            <div class="input-group">
                @Html.DropDownListFor(m => m.SelectedUser, selectList: new SelectList(Model.Users, "Value", "Text"), new {@class = "form-select"})
                <button class="btn btn-warning" type="button" onclick="ResetUserPassword()">Reset password</button>
                <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteConfirmation">Delete?</button>
            </div>
        </form>

        <div class="input-group visually-hidden" id="resetPasswordInfo">
            <span class="input-group-text">New password</span>
            <input type="text" class="form-control" value="" readonly="readonly"/>
        </div>
    }
</div>

<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete the selected user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="DeleteUser()">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/adminsettings.js"></script>
}