@{
    ViewData["Title"] = "Your Gallery";
}

<div id="gallery">
</div>

<script>
    setWindowTitle("@Html.Raw(ViewBag.Title)");
    
    $(async function () {
        loadGalleryPage(window.galleryData.currentPage);
    
        try {
            await window.galleryData.connection.start();
        } catch (err) {
            console.log(err);
        }
    });
    
    window.galleryData.connection.on("RefreshFiles", function () {
        loadGalleryPage(1);
    });
    
    function loadGalleryPage(pageNumber) {
        $.ajax({
            url: "@Url.Action("GalleryPage")",
            type: 'GET',
            data: {pageNumber: pageNumber},
            success: function (data) {
                window.galleryData.currentPage = pageNumber;
                $('#gallery').html(data);
            }
        });
    }
    
    function deleteFile(id) {
        $.ajax({
            url: "@Url.Action("DeleteFile")",
            type: "POST",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: {id: id},
            success: function (result) {
                if (result.success) {
                    loadGalleryPage(window.galleryData.currentPage);
                }
            }
        });
    }
</script>