@model GudSafe.Data.ViewModels.GalleryViewModel

@{
    ViewData["Title"] = Model.Username + "'s Gallery";
}

<div id="gallery">
    
</div>

@section Scripts
{
    <script>
        let currentPage = @Model.Page;
        console.log(currentPage);
        $(document).ready(function (){
            loadGalleryPage(currentPage);
        });
    
        function loadGalleryPage(pageNumber)
        {
            $.ajax({
                url: '@Url.Action("GalleryPage")',
                type: 'GET',
                data: { pageNumber: pageNumber },
                success: function (data) {
                    currentPage = pageNumber;
                    $('#gallery').html(data);
                }
            });
        }
        
        function deleteFile(id) {
            $.ajax({
                url: "@Url.Action("DeleteFile")",
                type: "POST",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: {id: id},
                success: function (result) {
                    if (result.success) {
                        loadGalleryPage(currentPage);
                    }
                }
            });
        }
    </script>
}