@{
    ViewData["Title"] = "Dashboard - Home";
}

<div class="text-center">
    <h1 class="display-4">Uploads</h1>

    <div>
        <div>
                <a class="btn btn-primary" asp-controller="Dashboard" asp-action="Gallery">Gallery</a>
                <a class="btn btn-primary" asp-controller="Dashboard" asp-action="UserSettings">User settings</a>
                <a class="btn btn-primary" asp-controller="Dashboard" asp-action="ShareXProfile">ShareX profile</a>
            </div>
    </div>
</div>