<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GudSafe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item align-self-center">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if (ViewBag.LoggedIn)
                {
                    <li class="nav-item align-self-center dropdown">
                        <a class="nav-link dropdown-toggle" id="dashboardDropdown" asp-controller="Dashboard" asp-action="Index" data-bs-toggle="dropdown" aria-expanded="false">Dashboard</a>
                        <ul class="dropdown-menu" aria-labelledby="dashboardDropdown">
                            <a class="dropdown-item" asp-controller="Dashboard" asp-action="Gallery">Gallery</a>
                            <a class="dropdown-item" asp-controller="Dashboard" asp-action="UserSettings">User Settings</a>
                            @if (ViewBag.IsAdmin)
                            {
                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="AdminSettings">Admin Settings</a>
                            }
                        </ul>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="nav-link" asp-controller="Home" asp-action="Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item align-self-center">
                        <a class="nav-link" asp-controller="Home" asp-action="Login">Login</a>
                    </li>
                }
                <li class="nav-item align-self-center ms-auto">
                    <a class="nav-link" onclick="toggleDarkMode()">
                        <span class="fs-4" id="dark-icon"></span>
                        <span class="fs-4 ms-1" id="dark-toggle"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    let wantsDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    let config = localStorage.getItem('isDark');

    if (config === null) {
        localStorage.setItem('isDark', wantsDark.toString());
    } else {
        wantsDark = config === 'true';
    }

    let darkIcon = document.getElementById('dark-icon');
    let darkToggle = document.getElementById('dark-toggle');
    
    if (wantsDark) {
        document.documentElement.classList.add('alt-colors');
        localStorage.setItem('isDark', "true");
        
        darkIcon.classList.add('bi-moon');
        darkToggle.classList.add('bi-toggle-off');
    } else {
        document.documentElement.classList.remove('alt-colors');
        localStorage.setItem('isDark', "false");
        
        darkIcon.classList.add('bi-sun');
        darkToggle.classList.add('bi-toggle-on');
    }
</script>