<!DOCTYPE html>
<html lang="en" class="h-100 alt-colors">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="color-scheme" content="light dark"/>
    <title>@ViewData["Title"] - GudSafe</title>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap-dark.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/GudSafe.WebApp.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body class="d-flex flex-column h-100">
<header>
    @await Html.PartialAsync("_Header")
</header>
<main role="main" class="py-4 flex-shrink-0">
    <div class="container d-flex flex-row">
        @if (ViewBag.LoggedIn)
        {
            <ul id="dashboard-nav" class="nav nav-pills flex-column col-2">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Dashboard" asp-action="Gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Dashboard" asp-action="UserSettings">User settings</a>
                </li>
                @if (ViewBag.IsAdmin)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Dashboard" asp-action="AdminSettings">Admin settings</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Dashboard" asp-action="ShareXProfile">ShareX profile</a>
                </li>
            </ul>
        }
        <div class="flex-grow-1 mx-4">
            <h1 class="display-4 text-center my-2" id="window-title">@ViewData["Title"]</h1>
            <div id="ajax-div">
                @RenderBody()
            </div>
        </div>
    </div>
</main>

<footer class="footer navbar-custom border-top text-muted mt-auto">
    <div class="container">
        &copy; 2022 - GudSafe
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
@await Component.InvokeAsync("Notyf")
</body>
</html>