@using GudSafe.Data.Enums
@using AspNetCoreHero.ToastNotification.Notyf.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GudSafe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/GudSafe.WebApp.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">GudSafe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (ViewData["LoggedIn"] as bool? == false)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <h1 class="display-4 text-center">@ViewData["Title"]</h1>
        @if (ViewData["LoggedIn"] as bool? == true)
        {
            <div class="input-group mb-3">
                <a class="btn btn-gudsafe-primary flex-fill border-1 border-dark" asp-controller="Dashboard" asp-action="Gallery">Gallery</a>
                <a class="btn btn-gudsafe-primary flex-fill border-1 border-dark" asp-controller="Dashboard" asp-action="UserSettings">User settings</a>
                @if ((string) ViewData["UserRole"]! == UserRole.Admin.ToString())
                {
                    <a class="btn btn-gudsafe-primary flex-fill border-1 border-dark" asp-controller="Dashboard" asp-action="AdminSettings">Admin settings</a>
                }
                <a class="btn btn-gudsafe-primary flex-fill border-1 border-dark" asp-controller="Dashboard" asp-action="ShareXProfile">ShareX profile</a>
            </div>
        }
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted navbar-custom">
    <div class="container text-light">
        &copy; 2022 - GudSafe
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
@await Component.InvokeAsync("Notyf")
</body>
</html>