<!DOCTYPE html>
<html lang="en" class="h-100 alt-colors">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="color-scheme" content="light dark"/>
    <title>@ViewData["Title"] - GudSafe</title>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap-dark.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/GudSafe.WebApp.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GudSafe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (ViewBag.LoggedIn)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="dashboardDropdown" asp-controller="Dashboard" asp-action="Index" data-bs-toggle="dropdown" aria-expanded="false">Dashboard</a>
                            <ul class="dropdown-menu" aria-labelledby="dashboardDropdown">
                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="Gallery">Gallery</a>
                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="UserSettings">User Settings</a>
                                @if (ViewBag.IsAdmin)
                                {
                                    <a class="dropdown-item" asp-controller="Dashboard" asp-action="AdminSettings">Admin Settings</a>
                                }
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                    }
                    <li class="nav-item align-self-end">
                        <a class="nav-link" onclick="toggleDarkMode()">
                            <span class="fs-4" id="dark-icon"></span>
                            <span class="fs-4" id="dark-toggle"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<script>
    let wantsDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    let config = localStorage.getItem('isDark');

    console.log(config);

    if (config === null) {
        localStorage.setItem('isDark', wantsDark.toString());
    } else {
        wantsDark = config === 'true';
    }

    let darkIcon = document.getElementById('dark-icon');
    let darkToggle = document.getElementById('dark-toggle');
    
    if (wantsDark) {
        document.documentElement.classList.add('alt-colors');
        localStorage.setItem('isDark', "true");
        
        darkIcon.classList.add('bi-moon');
        darkToggle.classList.add('bi-toggle-off');
    } else {
        document.documentElement.classList.remove('alt-colors');
        localStorage.setItem('isDark', "false");
        
        darkIcon.classList.add('bi-sun');
        darkToggle.classList.add('bi-toggle-on');
    }
</script>
<main role="main" class="pb-3 flex-shrink-0">
    <div class="container">
        <h1 class="display-4 text-center" id="window-title">@ViewData["Title"]</h1>
        @if (ViewBag.LoggedIn)
        {
            <div class="input-group mb-3" id="dashboard-nav">
                <a class="btn btn-primary flex-fill flex-grow-1 border-1 mx-1p" asp-controller="Dashboard" asp-action="Gallery">Gallery</a>
                <a class="btn btn-primary flex-fill border-1 mx-1p" asp-controller="Dashboard" asp-action="UserSettings">User settings</a>
                @if (ViewBag.IsAdmin)
                {
                    <a class="btn btn-primary flex-fill border-1 mx-1p" asp-controller="Dashboard" asp-action="AdminSettings">Admin settings</a>
                }
                <a class="btn btn-primary flex-fill border-1 mx-1p" asp-controller="Dashboard" asp-action="ShareXProfile">ShareX profile</a>
            </div>
        }
        <div id="page-content">
            @RenderBody()
        </div>
    </div>
</main>

<footer class="footer navbar-custom border-top text-muted mt-auto">
    <div class="container">
        &copy; 2022 - GudSafe
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
@await Component.InvokeAsync("Notyf")
</body>
</html>