@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GUDSAFE</h1>
    <a class="btn btn-primary" asp-controller="Dashboard" asp-action="Index">dashboard</a>
</div>