@{
    ViewData["Title"] = "GudSafe - Homepage";
}

@if (ViewBag.LoggedIn)
{
    <form id="uploadFile">
        <label for="formFile" class="form-label">Upload file</label>
        <div class="input-group">
            <input class="form-control" type="file" id="formFile"/>
            <button class="btn btn-primary" type="button" onclick="uploadFile()">Upload</button>
        </div>
        <div id="progress-bar" class="progress mt-2" style="display: none">
            <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </form>
}

@section Scripts {
    <script src="~/js/index.js"></script>
}