@model GudSafe.Data.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login™ powered by Logout";
}

<div>
    @using (Html.BeginForm("Login", "Home", new {returnUrl = Context.Request.Query["returnUrl"]}, FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name, "Name")
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control", @type = "text", @placeholder = "Enter username"})
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, "Password")
            @Html.TextBoxFor(m => m.Password, new {@class = "form-control", @type = "password", @placeholder = "Enter password"})
        </div>

        <div class="row">
            <button class="btn btn-gudsafe-primary col m-3" type="submit">Login</button>
        </div>
    }
</div>