@model GudSafe.Data.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div>
    <h1 class="display-4 text-center">Login™ powered by Logout</h1>
    @using (Html.BeginForm("Login", "Home", new {returnUrl = Context.Request.Query["returnUrl"]}, FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name, "Name")
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control", @type = "text", @placeholder = "username"})
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, "Password")
            @Html.TextBoxFor(m => m.Password, new {@class = "form-control", @type = "password", @placeholder = "username"})
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    }
</div>